mixin css(fileName)
    link(rel="stylesheet", href="/#{fileName}.css")
mixin s(fileName)
    script(src="/#{fileName}.js")
mixin S(scripts)
    - each script in scripts
        +s(script)
mixin j(javascript)
    script.
        #{javascript}
mixin v(varName, val)
    script.
        #{varName} = "#{val}"
mixin loadApps(app, pam)
    script.
        _app = wappyApp = '#{app}'
        _pam = wappyPam = '#{pam}'
        $(function () {z();window[_app.toUpperCase()](_pam)}) 
        
        
mixin front()
    +S(['us', 'string', 'moment', 'superJs', 'gee', 'nerd', 'console', 'dateTime', 'both', 'jq', 'jQueryPlus', 'frontOb', 'defs'])
    +S(['superJQuery', 'superJQuerySty', 'superJQueryAnim', 'handy', 'handyInputs', 'rules',  'superWebApps'])
    
    
mixin canvas()
    +S(['gClip', 'gStatic', 'gLines', 'polyD','polyAndRec', 'polyS', 'beamTree', 'actualLib','polyMath'])
    +S(['superContext2D', 'contextDraw', 'cxGpc', 'cxApps', 'superCanvas','canvasDraw', 'canApps'])
    
mixin create()
    +S(['cjs', 'cjsMC'])
    +S(['create', 'ticker', 'cjsText', 'cjsLQ', 'easel','paths', 'easelShape','bitmapFill', 'tween', 'sprite', 'movie', 'anims'])
    +S(['createApps', 'queueApps',  'mcApps','matrixApps'  ])
    
mixin box2d()
    +S([ 'bx', 'sep', 'preBox'])
    +S(['box', 'debug', 'vector','worldQuery', 'bodyDef', 'boxBods', 'boxCx', 'boxFxts'])
    +S(['boxKlass', 'boxShape', 'coll', 'collHandle',  'joint', 'jointRev', 'jointMore', 'cont', 'conts','contWorld', 'geo','geoDif', 'geoUni'])
    +S(['boxApps', 'bush'])
    
mixin superWeb()
    +front()
    +canvas()
    +create()
    +box2d() 
    